# URLs de los microservicios
# En Vite las variables de entorno deben tener el prefijo VITE_ para ser accesibles en el browser

# Producción — API Gateway de AWS
# VITE_API_GATEWAY_URL=https://zvh5k42p9f.execute-api.us-east-2.amazonaws.com/prod
# VITE_CATALOG_API_URL=https://zvh5k42p9f.execute-api.us-east-2.amazonaws.com/prod
# VITE_ORDERS_API_URL=https://zvh5k42p9f.execute-api.us-east-2.amazonaws.com/prod

# Desarrollo local
VITE_API_GATEWAY_URL=http://localhost:8001
VITE_CATALOG_API_URL=http://localhost:8002
VITE_ORDERS_API_URL=http://localhost:8003
